aside.info {
  color: #fff;
  height: calc(~"100% - 40px");
  height: -webkit-calc(~"100% - 40px");
  width: 310px;
  right: 0;
  position: absolute;
  z-index: 2;
  background-color: #3b0122;
  box-shadow: 5px 5px 5px 20px hsla(0, 0%, 0%, 0.65);
  padding: @default-padding;
  h2 {
    font-size: 30px;
    font-family: telegrama;
    text-shadow: 1px 1px 2px #111;
  }
  .preview {
    position:  relative;
    margin: @default-padding / 2 0;

    img {
      width: 310px;
    }
    span {
      text-shadow: 0 0 5px #333;
      text-transform: uppercase;
      font-weight: bold;
      position: absolute;
      bottom: 5px;
      right: 5px;
    }
  }
}

section.controls {
  clear: left;
  padding-top: @default-padding / 2;
  li {
    clear: both;

    label {
      display: inline-block;
      width: 70px;
      float: left;
    }
    nav {
      display: inline-block;
      width: calc(~"100% - 70px");
      width: -webkit-calc(~"100% - 70px");
    }
  }
}

section.stats {
  dl {
    clear: left;
    dt, dd {
      width: 25%;
      float: left
    }
  }
}

nav.slider {
  background-color: green;
  font-size: 0;
  &.frozen {
    opacity: .5;
  }
  .increment, .decrement, .bar {
    display: inline-block;
    height: 20px;
  }
  .increment, .decrement {
    background-color: blue;
    width: 10px;
    cursor: pointer;
  }
  .bar {
    background-color: red;
    width: calc(~"100% - 20px");
    width: -webkit-calc(~"100% - 20px");
    .fill {
      width: 15%;
      height: 100%;
      display: inline-block;
      background-color: green;
    }
  }
}
